<section class="card">
  <a href="/blog/{{id}}">
    <header>
      <span style="width:80%;">{{title}}</span>
      <span class="blogdate">
        Posted by {{user_id}} on {{format_date blog_date}}

      </span>
    </header>
  </a>
</section>